* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  color: rgb(72, 72, 72);
  background-color: ghostwhite;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/***********************
 Navbar                *
***********************/
.fas {
  margin-right: 4%;
}

/***********************
 Home                  *
***********************/
.home-header {
  font-size: 4rem;
  text-align: center;
  margin: 4%;
}

/***********************
 All Products          *
***********************/
.all-products-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 65px;
  padding: 16px 24px;
  color: white;
  background-color: #e71e07;
  justify-content: center;
}

.all-products-title {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  /*color: #fcd000;*/
}

.all-products-container {
  padding: 16px 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/***********************
 Product Row           *
***********************/

/***********************
 Page                 *
***********************/
.page {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/***********************
 Checkout Page         *
***********************/
.checkout-page > div {
  margin-bottom: 1rem;
}

/***********************
 Forms                 *
***********************/
.form-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 65px;
  padding: 16px 24px;
  color: white;
  background-color: #009edb;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  /*color: #fcd000;*/
}

.form-container {
  padding: 16px 24px;
  flex-grow: 1;
}

/***********************
 Background Colors     *
***********************/
.skyblue {
  background-color: #009edb;
}
.orange {
  background-color: #fcd000;
}

.red {
  background-color: #e71e07;
}

.green {
  background-color: #44af35;
}
