@font-face {
  font-family: "mario";
  src: url("./fonts/mario2.ttf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: mario; */
  font-family: Helvetica, sans-serif;
}

body {
  color: rgb(72, 72, 72);
  background-color: ghostwhite;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/***********************
 Navbar                *
***********************/
/* .fas {
  margin-right: 4%;
} */

.nav-link-text {
  margin-left: 7px;
  margin-right: 7px;
}

.navbar-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: ghostwhite;
  font-weight: bold;
  font-size: 1.5rem;
}

.poke-walk-box {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px gray;
}

.poke-walk {
  width: auto;
  height: 200%;
  position: relative;
  top: -20px;
  z-index: 1;
}

/***********************
 Home                  *
***********************/
.home-header {
  font-size: 4rem;
  text-align: center;
  margin: 4%;
}

/***********************
 All Products          *
***********************/
.all-products-page {
  padding-top: 1rem;
}

.all-products-header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 80px;
  padding: 16px 40px;
  color: white;
  background-color: #009edb;
  justify-content: space-between;
  align-items: center;
}

.all-products-title {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-family: "mario";
  /*color: #fcd000;*/
}

.all-products-container {
  padding: 1rem 24px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/***********************
 Product Row           *
***********************/

/***********************
 Single Product        *
***********************/

.single-product-img {
  width: 350px;
  height: auto;
}

.single-product-title {
  font-size: 3rem;
  color: #484848;
  font-weight: bold;
}

.single-product-sub-title {
  font-size: 2rem;
  color: #484848;
  font-weight: bold;
  margin-bottom: 2%;
}

.divider {
  width: 75%;
  height: 8px;
  background-color: #44af35;
  margin: 2% auto;
}

#single-product-header {
  background-color: #e71e07;
  margin-bottom: 1rem;
}

/***********************
 Page                 *
***********************/
.page {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/***********************
 Forms                 *
***********************/
.form-header {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 65px;
  padding: 16px 24px;
  color: white;
  background-color: #009edb;
  justify-content: center;
}

.form-title {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  /*color: #fcd000;*/
}

.form-container {
  padding: 16px 24px;
  flex-grow: 1;
}

.form-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-top: 0.5rem;
}

/***********************
 Background Colors     *
***********************/
.skyblue {
  background-color: #009edb;
}
.orange {
  background-color: #fcd000;
}

.red {
  background-color: #e71e07;
}

.green {
  background-color: #44af35;
}

/***********************
 Misc                  *
***********************/
.divider {
  width: 100%;
  border-bottom: 2px solid #44af35;
  height: 0;
  margin: 0.5rem 0;
}

/***********************
 Multi Select          *
***********************/
.multi-select-container {
  display: inline-block;
  flex-grow: 0;
}

.multi-select-placeholder-text {
  font-family: mario;
  color: #fcd000;
  font-size: 1.25rem;
}

.multi-select-container > *:first-child {
  margin-right: 5px;
}

.multi-select-chip-container > div {
  margin-right: 3px;
}

.multi-select-chip-container > div:last-child {
  margin-right: 3px;
}
